extends layout

block content
  div.row
    div.span12
      img.center-block(src='/images/shyon.png')
  div.row
    div.span3 &nbsp;
    div.span6
      | Shyon Babazadeh is a Seattle, WA Flamenco gutiarist and parforms
      | a variety of music influenced by Jesse Cook and Esteban with a mix
      | of Classif Rock. He has performed at local venues in Seattle, Woodinville,
      | Mill Creek along with weddings and local concerts
      
    div.span3 &nbsp;