@{
    ViewData["Title"] = "Contact Us";
}
		<div class="row">
			<div class="9u">
				<div id="content">
					<section>
						<div class="post">
							<h2>@ViewData["Title"]</h2>
							<p><img src="~/images/gmail.png" style="margin-left: 40px;" /></p>
							<p><img src="~/images/fb.png" style="margin-left: 40px;" /></p>
							<p><img src="~/images/youtube.png" style="margin-left: 40px;" /></p>
						</div>
					</section>
				</div>
			</div>
			<div class="3u">
				<div id="sidebar2">
					<section>
						<div class="sbox1">
							<h2>Upcoming Events</h2>
							<ul class="style1">
								<li><a href="#">Event 1</a></li>
								<li><a href="#">Event 2</a></li>
								<li><a href="#">Event 3</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
		
