@{
    ViewData["Title"] = "Shyon Flamenco";
}
        <div class="row" id="content">
			<div class="12u">
				<section>
					<div class="post">
						<h2>Shyon Flamenco</h2>
						<p><img src="~/images/shyon.png" id="hero" align="left">
						    Shyon Babazadeh is a Seattle, WA Flamenco gutiarist and parforms a 
							variety of music influenced by Jesse Cook and Esteban with a mix 
							of Classif Rock. He has performed at local venues in Seattle, Woodinville, 
							Mill Creek along with weddings and local concerts</p>
						<p>more cool stuffs</p>
					</div>
				</section>
			</div>
		</div>
