@{
    ViewData["Title"] = "Tour Dates";
}
        <div class="row" id="content">
			<div class="12u">
				<section>
					<div class="post">
						<h2>@ViewData["Title"]</h2>
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>Date</th>
									<th>Venue</th>
									<th>RSVP</th>
								</tr>
								<tr>
									<td>9/23/2015</td>
									<td>Village Wines</td>
									<td><button type="button" class="btn btn-default"> RSVP</button></td>
								</tr>
								<tr>
									<td>9/30/2015</td>
									<td>Lucid Jazz Lounge</td>
									<td><button type="button" class="btn btn-default"> RSVP</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
